{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Page
{% endblock %}

{% block body %}
    <h1>Create Entry</h1>
    <form action="{% url "create" %}" method="POST">
        {% csrf_token %}
        <label>
            Title:
            <input type="text" name="title" placeholder="Enter a title">
        </label><br>
        <label>Content:</label><br>
        <textarea name="content" rows="2" cols="50"></textarea><br>
        <input type="submit" value="New Entry" class="btn btn-primary">
    </form>
{% endblock %}